.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.terraform

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
classes

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.DS_Store
logs/app.log
logs/
bin
acceptance-tests/reports/report.js
